@charset "UTF-8";
	section a{
		text-decoration: none;
		color:white;
	}

	#mainbox{
		display: flex;
		width: 100%;
		margin-bottom: 0px;
	}
	#label1{
		font-family: 'Staatliches', cursive;
		font-size: 40pt;
		color:#848484;
		width:20%;
		margin-left: 7%;
		margin-bottom: 0px;
	}
	#label2{
		font-family: 'Staatliches', cursive;
		font-size: 40pt;
		color:white;
		width: 80%;
		margin-left: 35%;
		margin-bottom: 0px;
	}
	#label2 a:hover{
		color:#81BEF7;
	}
	#subbox{
		display: flex;
		margin: 0px auto;
	}
	#menubox{
		background-color: #A4A4A4;
		width: 20%;
		height: 600px;
		border-radius:5px;
		margin-right:10px;
	}
	#menubox li{
		font-family: 'Staatliches', cursive;
		font-size: 25pt;
		color:gray;
		margin-left: 60px;
		margin-top: 30px;
	}
	#li1 a:hover{
		color: #F79F81;
	}
	#li2 a:hover{
		color: #FA8258;
	}
	#li3 a:hover{
		color: #FF8000;
	}
	#li4 a:hover{
		color: #FE642E;
	}
	#readbox{
		max-width:80%; /*body의 최대 사이즈를 80%로 설정*/
		background-color: white;
		width: 80%;
		height: 650px;
		border-radius:5px;
		border: 20px solid white;
		text-align: center;
		overflow: hidden auto;
	}